body{
    background-image: url(image/Graduates.jpg);
    background-repeat: no-repeat;
    height: 740px;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;

}
.form{
    width: 390px;
    padding: 10% 0 0;
    margin: auto;
    height: 200px;

}
form{
    position: relative;
    background: rgb(0,0,0,0.6);
    text-align: center;
    padding: 45px;
    margin: 0 auto 100px;
}
form input{
    outline: none;
    background-color: #f2f2f2;
    width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}


form label{
    color: #f2f2f2;
    size: 50px;
    display: inline-block;

}
form button{
    outline: 0;
    background: orange;
    width: 100%;
    border: none;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin: 13px 0 22px 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
form button:hover{
    background-color: rgb(114, 164, 243);

}
p{
    margin: 15px 0 0;
    color: #fff;
    font-size: 18px;
}
p a{
    color: orange;
}