{% load static %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'outer.css' %}" >
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="{% static 'image/fcai.jpg' %}" id="logo" class="logo">
            <nav>
                <ul>
                    <li><a href="home.html">home</a></li>
                    <li><a href="login.html">login</a></li>
                    <li><a href="register.html">register</a></li>
                </ul>
            </nav>
            <a src=" {% static 'image/menu.jpg' %}" class="menu-icon"></a>
        </div>
        <div class="row">
            <div class="col">
                <h1>welcome</h1>
                <p>
                    Here is the websites
                </p>

            </div>
            <div class="col">
                <div class="st stt">
                    <h3>Human Resourcesr</h3>
                </div>
                <div class="st sttt">
                    <h3 style="color:wheat">Higher studies</h3>
                </div>
                <div class="st stttt">
                    <a href="home.html">
                        <h3>Stutent Affair</h3>
                    </a>
                </div>
                <div class="st sttttt">
                    <h3>Laboratory tracking</h3>
                </div>


            </div>
        </div>
        </div>
        <!--   <div class="footer">
            <p class="footer-text-left">
                <a href="home.html" class="menu">home</a>
                <a href="login.html" class="menu">Login</a>
                <a href="register.html" class="menu">Register</a>
            </p>
        </div>
        <div class="content">
        <h1>Welcome</h1>

    </div>
    <br /><br /><br />
    </div>
    <section>
        <div class="topnav">

            <a href="home.html"><img src="image/background.jpg" class="icon-style"></a>
            <a href="#">Human Resources</a>
            <a href="#">Higher studies</a>
            <a href="#">Laboratory tracking</a>
        </div>
    </section>

    <div class="footer-content-right">
        <a href="home.html"><img src="image/background.jpg" class="icon-style"></a>
        <a href="https://www.twitter.com/DigitalOcean"><img src="images/twitter.jpeg" class="icon-style" alt="Twitter icon"></a>
        <a href="https://www.twitter.com"><img src="images/email.jpeg" class="icon-style" alt="Emailicon"></a>
    </div>
    -->


</body>

</html>