{% load static %}

{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <script src="{% static 'register.js' %}"></script>
</head>
<body>

    <div class="form" >
        <form action="" method ="POST">
            {% csrf_token %}
            
            
            <div>
                <label for="">Email</label>
                <input name ="email" id="email" class="email" type="text" placeholder="Enter Email" required>
                <br>
                <label for="">Password</label>
                <input name="password" id="pass" class="pass" type="password" placeholder="Enter Password" required>
                <br>
                <label for="">Repeat Password</label>
                <input name="rapassword" id="repass" class="rpass" type="password" placeholder="Repeat Password" required>
                <br>
                
                <button onclick="register()" value="save" type="submit" class="">Register</button>
               
                <div>
                    <p class="msg">Already have an account? <a href="login.html">Login</a>.</p>
                </div>
            </div>
        </form>
    </div>

</body>
</html>
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <script src="{% static 'register.js' %}"></script>
</head>
<body>

    <div class="form" >
        <form action="" method ="POST">
            {% csrf_token %}
            
            
            <div>
                <label for="">Email</label>
                <input name ="email" id="email" class="email" type="text" placeholder="Enter Email" required>
                <br>
                <label for="">Password</label>
                <input name="password" id="pass" class="pass" type="password" placeholder="Enter Password" required>
                <br>
                <label for="">Repeat Password</label>
                <input name="rapassword" id="repass" class="rpass" type="password" placeholder="Repeat Password" required>
                <br>
                
                <button onclick="register()" type="submit" class="">Register</button>
               
                <div>
                    <p class="msg">Already have an account? <a href="login.html">Login</a>.</p>
                </div>
            </div>
        </form>
    </div>

</body>
</html>-->